<% if params[:controller] == 'about'%>
  <div class="well">
      <h3>Location Info</h3>
        <ul>
          <li>The bookstore</li>
          <li>499 Kamegawa Ave</li>
          <li>beppu</li>
          <li>phone: 615-323-543</li>
          <li>Email: support@bookstore.com</li>
        </ul>
  </div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
  <div class="list-group">
    <% @categories.each do |category|%>
      <%= link_to category.name,category_path(category.id), class:'list-group-item'%>
    <% end %>
  </div>
<% end %>
