<div id="books-show">
  <h2>rubu on rails</h2>
  <div class="books-show-left">
     <%= image_tag('covers/ruby_rails.jpg')%>
  </div>
  <div class="books-show-right">
    <h3>Book Info<h3>
      <ul>
        <li><strong>Category:</strong> Ruby on Rails</li>
        <li><strong>Author:</strong> Sai Vinodhini</li>
        <li><strong>publisher:</strong> King technolgy </li>
        <li><strong>year:</strong> 2017</li>
        <li><strong>Isbn:</strong> 157255473 </li>
        <li><strong>format:</strong> Paperback</li>
        <li><strong>pages:</strong> 678</li>
      </ul>
      <%= link_to "Buy For $41.63",
      'https://www.amazon.com/Ruby-Rails-Tutorial-Addison-Wesley-Professional-ebook/dp/B01N779HKK/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1486284491&sr=1-1&keywords=ruby+on+rails',class:'btn btn-primary',target:'_blank'%>
  </div>
  <div class="clearfix"></div>
  <h4>Expert</h4>
  <p>Used by sites as varied as Twitter, GitHub, Disney, and Airbnb, Ruby on Rails is one of the most popular frameworks for developing web applications, but it can be challenging to learn and use. Whether you’re new to web development or new only to Rails, Ruby on Rails™ Tutorial, Fourth Edition, is the solution.
  Best-selling author and leading Rails developer Michael Hartl teaches Rails by guiding you through the development of three example applications of increasing sophistication. The tutorial’s examples focus on the general principles of web development needed for virtually any kind of website. </p>
</div>
